<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Models" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold text-white">Models</h1>
    <%= link_to "New model", new_model_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <!-- Pagy Navigation Links -->
  <div class="flex justify-center">
    <div class="mt-4 text-white">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>

  <%= render partial: "shared/resource_table", locals: { 
    collection: @models, 
    headers: [
      { label: "Name", basis: "1/5", content: ->(model) { link_to model.name, model_path(model) } },
      { label: "", basis: "1/5", content: -> (model){
        link_to "Fine Tunes", "#" ,
          class: "text-left",
          data: { action: "fine-tune#handleClick" }
        }
      },
      { label: "Company", basis: "1/5", content: ->(model) { model.company } },
      { label: "Platform", basis: "1/5", content: ->(model) { model.platform } },
      { label: "Source", basis: "1/5", content: ->(model) { link_to "Link", model.platform_link }, class: "text-center" }
    ],
  }%>
</div>