<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Renders" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold">Renders</h1>
    <%= link_to "New render", new_render_path, class: "rounded-lg py-2 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= render partial: "shared/resource_table", locals: { 
    collection: @renders, 
    headers: [
      { label: "Type", basis: "1/4", content: ->(render) { link_to(image_tag(url_for(render.images.first.image), alt: "Render Image", class: "object-cover"), image_path(render.images.first)) if render.images.first&.image&.attached? } },
      { label: "Model/Prompt", basis: "1/2", content: ->(render) do
        "<div class='text-center border rounded-md'><strong>Model: #{render.model.name}</strong></div><div>#{render.prompt}</div>".html_safe
      end },
      { label: "LoRAs", basis: "1/4", content: ->(render) do
        content = "<div><strong>Guidance Scale:</strong> #{render.guidance_scale}</div>"
        render.render_loras.each do |render_lora|
          content += "<div><strong>Lora: #{render_lora.lora.name}</strong> - Scale: #{render_lora.scale}</div>"
        end
        content += "<div><strong>Inference Steps:</strong> #{render.steps}</div>"
        content.html_safe
      end }
    ] 
  } %>
</div>