<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Loras" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold">Loras</h1>
    <%= link_to "New lora", new_lora_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="border border-gray-300 rounded-md">
    <!-- Header Row -->
    <div class="flex font-semibold text-white bg-gray-800">
      <div class="text-center basis-1/5">Name</div>
      <div class="text-center basis-1/5">URL</div>
      <div class="text-center basis-1/5">Trigger</div>
      <div class="text-center basis-1/5">Platform</div>
      <div class="text-center basis-1/5">Model</div>
    </div>

    <!-- Rows for each Lora -->
    <div>
      <% @loras.each do |lora| %>
        <%= render lora %>
      <% end %>
    </div>
  </div>
