<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Loras" %>

  <div class="flex items-center justify-between text-white">
    <h1 class="text-4xl font-bold">Loras</h1>
    <%= link_to "New lora", new_lora_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <%= render partial: "shared/resource_table", locals: { 
    collection: @loras, 
    headers: [
      { label: "Name", basis: "1/5", content: ->(lora) { content_tag(:div, lora.name, class: "p-2") } },
      { label: "URL", basis: "1/5", content: ->(lora) { content_tag(:div, lora.url_src, class: "p-2") } },
      { label: "Trigger", basis: "1/5", content: ->(lora) { content_tag(:div, lora.trigger, class: "p-2") } },
      { label: "Platform", basis: "1/5", content: ->(lora) { content_tag(:div, lora.platform, class: "p-2") } },
      { label: "Model", basis: "1/5", content: ->(lora) { content_tag(:div, lora.model.name, class: "p-2") } }
    ]
  } %>
</div>